*.log
*.jou
.cxl*

hdl_cores/freedom/nvidia-dla-blocks
hdl_cores/freedom/nvidia-dla-blocks/hw
hdl_cores/freedom/sifive-blocks
hdl_cores/freedom/rocket-chip
hdl_cores/freedom/rocket-chip/chisel3
hdl_cores/freedom/rocket-chip/firrtl
hdl_cores/freedom/rocket-chip/hardfloat
hdl_cores/freedom/rocket-chip/torture
hdl_cores/freedom/rocket-chip/riscv-tools
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-fesvr
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-isa-sim
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-opcodes
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-openocd
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-openocd/jimtcl
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-pk
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-tests
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-tests/env
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-binutils-gdb
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-dejagnu
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-gcc
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-glibc
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-newlib
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/dtc
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/SLOF
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/ipxe
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/openbios
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/openhackware
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/qemu-palcode
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/seabios
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/sgabios
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/u-boot
hdl_cores/freedom/rocket-chip/riscv-tools/riscv-gnu-toolchain/riscv-qemu/roms/vgabios
software/freedom-u-sdk
software/freedom-u-sdk/buildroot
software/freedom-u-sdk/linux
software/freedom-u-sdk/riscv-fesvr
software/freedom-u-sdk/riscv-gnu-toolchain
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-binutils-gdb
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-dejagnu
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-gcc
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-glibc
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-newlib
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/dtc
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/SLOF
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/ipxe
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/openbios
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/openhackware
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/qemu-palcode
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/seabios
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/sgabios
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/u-boot
software/freedom-u-sdk/riscv-gnu-toolchain/riscv-qemu/roms/vgabios
software/freedom-u-sdk/riscv-isa-sim
software/freedom-u-sdk/riscv-pk
software/freedom-u-sdk/riscv-qemu
software/freedom-u-sdk/riscv-qemu/capstone
software/freedom-u-sdk/riscv-qemu/ui/keycodemapdb
software/freedom-u-sdk/riscv-qemu/roms/QemuMacDrivers
software/freedom-u-sdk/riscv-qemu/roms/SLOF
software/freedom-u-sdk/riscv-qemu/roms/ipxe
software/freedom-u-sdk/riscv-qemu/roms/openbios
software/freedom-u-sdk/riscv-qemu/roms/openhackware
software/freedom-u-sdk/riscv-qemu/roms/qemu-palcode
software/freedom-u-sdk/riscv-qemu/roms/seabios
software/freedom-u-sdk/riscv-qemu/roms/seabios-hppa
software/freedom-u-sdk/riscv-qemu/roms/sgabios
software/freedom-u-sdk/riscv-qemu/roms/skiboot
software/freedom-u-sdk/riscv-qemu/roms/u-boot
software/freedom-u-sdk/riscv-qemu/roms/u-boot-sam460ex
software/freedom-u-sdk/riscv-qemu/roms/vgabios