[submodule "submodules/axi"]
	path = submodules/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "submodules/common_cells"]
	path = submodules/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "submodules/mor1kx"]
	path = submodules/mor1kx
	url = https://github.com/openrisc/mor1kx.git
