/builds

# sbt directories
/target
/project

# Directories.... formerly submodules (can be reconstructed using the get_external_dependencies.sh script)
/rocket-chip
/sifive-blocks
/fpga-shells
/nvidia-dla-blocks

# Xilinx remnants
/.Xil
*.log
*.jou