**/*.elf
**/*.img
lib/*
*.log*
*.jou
*.elf
*.bin
**/*.o
**/*.obj
**/*.bobj
**/*.hex
**/*.a
**/*.KEY
**/status
modelsim.ini*
**/c_dispatch
**/testHistory.txt
vsim.do
.c_children.mk
**/transcript
**/*.wlf
**/*.dump
include/cep_adrMap.h
include/v2c_cmds.h
generated-src/
CHIPYARD_BUILD_INFO.make
**/*.rcf
bootrom/.BOOTROM*